* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*BORRAR SI NO LO USO*/
@media screen and (max-width:500px) {
    img {
        width: 100%;
    }
    }

body {
    background-color: white;
}

iframe {
    margin: 30px;
    max-width: 20rem;
}


#logocontainer {
    justify-content: center;
    padding: 1rem

}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: white;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bolder;
}

.p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: #0B141A;
    max-width: 30rem;
    justify-content: center;
    
}

.header {
    background-color: #2A3942;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65rem;
    color: white;
    justify-content: center;
    display: inline-block;
    background-color: #0B141A;
}

.nav {
    background-color: #0B141A;
}


ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    color: white;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 1,5rem;
}

.grid-container .grid-item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
        
}

.a {
    color: #6C757D;
    font-size: 0.65rem;
    margin: 10px 10px;
    display: flex;
    text-decoration: none;
    flex-flow: row wrap;

}

.a:hover {
    text-decoration: underline;    
}

.a:visited {
    color: #686568;    
}


.first-item {
    justify-self: center;
    align-self: center;
    justify-content: center;
}

.second-item {
    justify-self: right;
    align-self: right;
    
}



.homeimg {
    width: 100%;
}

.inputsend {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.2rem;
}



.flexcontainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.flexitem {
    flex-direction: column;
    padding: 1rem;
}

.flexitem2 {
    flex-flow: row wrap;
    padding: 1rem;
}