footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65rem;
    color: white;
    background-color: #0B141A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    ul {
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.75rem;

        li {
            margin: 20px;
        

            a {
                color: #6C757D;
                font-size: 0.65rem;
                margin: 10px 10px;
                display: flex;
                text-decoration: none;
                flex-flow: row wrap;
            }
            a:hover {
                text-decoration: underline;    
            }

            


        }
    }
}