$font-general: Arial, Helvetica, sans-serif;
$color-a: #696969;

@import "../utilities/mixin";




.p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: #0B141A;
    max-width: 20rem;
    justify-content: center;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10rem;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    h1 {
        @include propiedades-h1;
    }

    img {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    p {

        @extend .p;

        span {
            font-weight: bolder;
        }
    }


    form {
        justify-content: center;
        align-items: center;

        ul {
            list-style-type: none;
            font-family: $font-general;
            font-size: 0.75rem;
            margin-top: 15px;
            align-items: start;
            justify-content: left;

        }

        p {
            @extend .p;

        }

        textarea {
            padding: 15px;

        }


        input {
            font-size: x-small;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0.1rem;
            margin-bottom: 25px;

        }

        iframe {
            display: flex;
            max-width: 20rem;
            justify-content: center;
            align-items: center;
            margin: 30px;
        }
    }

}

h1 {
    @include propiedades-h1;
}