
@import "../layout/main";


nav{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
font-family: $font-general;
font-weight:lighter;
font-size: 0.75rem;
padding-top: 10px;

a{
    text-decoration: none;
    color: $color-a;
}



ul{
    list-style: none;
    font-family: $font-general;
    font-size: 0.75rem;
    
    li{
        
        a{ 
            text-decoration: none;
            color: $color-a;

        }
    }
}

}